ul.inline {
    list-style-type: none;

    .li {
        display: inline;
    }
}

.logs {
    margin-bottom: 90px !important;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.mt-5 {
    margin-top: 5px !important;
}

.w-100 {
    width: 100%;
}

.r-color {
    color: #923D62 !important;
}

textarea {
    resize: vertical;
}